.section,
.section * {
    box-sizing: border-box;
}
.section {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.image-container {
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 300px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #007bff, #ffffff);
}
.image {
    border-radius: 6px;
    align-self: stretch;
    flex: 1;
    position: relative;
    background-image: url('@/img/main.png');
}
.pagination {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 744px);
    bottom: 8px;
}
.section2 {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    width: 1440px;
    position: relative;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.title {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    width: 520px;
    margin-bottom: -10px; /* 이 부분을 추가하여 요소 사이의 간격을 조정합니다. */
}

.description {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    width: 520px;
}
.title2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    width: 1068px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.primary {
    background: #007bff;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 160px;
    position: relative;
    /* button 설정입니다. */
    cursor: pointer; /* 마우스 커서 모양을 손가락 포인터로 변경합니다. */
}
.title3 {
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
}
.vector-200 {
    flex-shrink: 0;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.rectangle-3343 {
    background: #ffffff;
    border-radius: 100px;
    flex-shrink: 0;
    width: 20px;
    height: 4px;
    position: relative;
}
.rectangle-3344 {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    position: relative;
}
.rectangle-3347 {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    position: relative;
}
.rectangle-3340 {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    position: relative;
}
.vector-2002 {
    flex-shrink: 0;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
