.section,
.section * {
    box-sizing: border-box;
}
.section {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}
.hot-top-10 {
    color: #000000;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 40px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
