.section,
.section * {
    box-sizing: border-box;
    background-color: white;
    height: 100px;
}
.section {
    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100px;
    position: relative;
}

.title {
    color: #000000;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
