.company-info {
    text-align: center;
}
.card3 {
    cursor: pointer;
    margin-top: 10px;
    width: 97%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, 0.2);
    transition: all 0.2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    margin-bottom: 2rem;
}

/* .card:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, 0.2);
} */
.info-card {
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}
.card-content {
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.company-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 20px;
}

.details {
    text-align: left;
}

.financial-section,
.indicators-section {
    text-align: left;
    width: 97%;
}

.financial-statements,
.indicators {
    width: 97%;
    border-collapse: collapse;
    margin-top: 10px;
}

.financial-statements th,
.financial-statements td,
.indicators th,
.indicators td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.financial-statements th,
.indicators th {
    background-color: #f2f2f2;
}

/* 테이블의 첫 번째 열(계정명)을 왼쪽 정렬합니다. */
.financial-statements td,
.indicators td {
    text-align: center;
}

/* 로딩 중 메시지 스타일 */
.loading-message {
    font-size: 18px;
    color: #666;
}
