.div,
.div * {
    box-sizing: border-box;
}
.div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 836px;
    position: relative;
}
.row {
    background: var(--surface-rows, #f9fafc);
    padding: 0px 8px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.div2 {
    padding: 14px 16px 14px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 52px;
    position: relative;
    overflow: hidden;
}
.text {
    color: var(--body1, rgba(0, 0, 0, 0.6));
    text-align: left;
    font-family: var(--body1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--body1-font-size, 13px);
    line-height: var(--body1-line-height, 24px);
    font-weight: var(--body1-font-weight, 400);
    position: relative;
    flex: 1;
}
.text2 {
    color: var(--text, #6d6b80);
    text-align: left;
    font-family: var(--body1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--body1-font-size, 13px);
    line-height: var(--body1-line-height, 24px);
    font-weight: var(--body1-font-weight, 400);
    position: relative;
    flex: 1;
}
.frame-1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.div3 {
    color: var(--body1, rgba(0, 0, 0, 0.6));
    text-align: left;
    font-family: var(--body1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--body1-font-size, 13px);
    line-height: var(--body1-line-height, 24px);
    font-weight: var(--body1-font-weight, 400);
    position: relative;
}

/* 제목 css */
.title {
    color: #000000;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 40px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px; /* 리스트와의 간격을 조절합니다. */
    margin-top: 50px;
}

/* 리스트 스타일 수정 */
ul {
    margin-top: 20px; /* 제목과의 간격을 조절합니다. */
    padding-left: 0; /* 기본 리스트의 패딩을 제거합니다. */
}

li {
    list-style-type: none; /* 리스트 마커를 제거합니다. */
    margin-bottom: 8px; /* 각 항목 간의 간격을 조절합니다. */
}
/* 타이틀 부분 */
.section,
.section * {
    box-sizing: border-box;
}
.section {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}
.hot-top-10 {
    color: #000000;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 40px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
